.block {
        max-width: 100% !important;
        width: 100%;
        border: 1px solid #fff;
        text-align: left !important;
}
.title {
        width: 100%;
        text-align: center;
        color: #e57131;
}