.nav {
    font-size: 15px;
    padding-bottom: 30px;
}
.nav li {
    list-style-type: none;
}
.nav a {
    text-decoration: none;
    color: #cda770;
}
.nav a:hover {
    color: #b58034;
    text-decoration: underline;
}
.container-header {
    height: 54px;
    background-color: #444444;
    display: flex;
    justify-content: center;
}
.header {
    max-width: 1136px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    width: calc(450px + 2%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left img {
    width: 25px;
    height: 25px;
}
.header a {
    margin-right: 10px;
}

.logo {
    padding: 10px 0;
    margin: 0 auto;
    max-width: 1176px;
    width: 100%;
}

.switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.switch a {
    font-size: 23px;
    font-weight: 100;
    color: #e57131;
    text-decoration: none;
    padding-bottom: 10px;
    transition: 0.4s;
    border-bottom: 1px solid rgba(0,0,0,0);
}
.switch a:hover {
    color: #f1925f;
    border-color: #f1925f;
    transition: 0.4s;
    text-decoration: none;
}
.switch .active {
    border-bottom: 1px solid #e57131;
    color: #e57131;
}

.switch .dropdown {
    background-color: red;
}