.menu {
    max-width: 1134px;
    width: 100%;
    margin: 0 auto;
    color: #e57131;
}

.menu h1, h2 {
    text-align: center;
}

.menu .block {
    width: 250px;
}
.menu .name, .price {
    margin: 0;
}
.menu .name {
    color: #fff;
}